<h1 class="text-h1">Información</h1>
<p class="text-about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit inventore impedit tempore id suscipit. Harum iusto sequi voluptatum rem velit? Assumenda nobis voluptatem recusandae ex, praesentium sunt repudiandae temporibus veritatis!</p>

<section id="thumbnails">
    <article>
        <a class="thumbnail" href="../assets/fulls/12.jpg"></a>
        <h2>Información de la galeria</h2>
        <p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
    </article>
</section>

